// Nav

.flex-auto {
  flex: auto;
}

.dropdown:hover .dropdown-menu {
  display: block;
}

@media (max-width: 878px) {
  .navbar-nav .SignUp {
    margin: 0 !important;
  }
}

// Header Carousel\
.carousel-control-prev,
.carousel-control-next {
  width: 3rem !important;
  height: 3rem !important;
  background-color: #000 !important;
  border-radius: 50%;
  top: 50% !important;
  transform: translateY(-50%);
  margin: 0 3rem;
  border: 1px solid #fff !important;
}

.carousel-control-prev i,
.carousel-control-next i {
  font-size: 1.4rem;
}

@media (min-width: 1025px) {
  #header-carusel {
    width: 84vw !important;
    margin: 0 auto !important;
  }
}
// Header banner
.header-banner {
  position: absolute;
  top: 5rem;
  left: 6rem;
  background-color: #fff;
  max-width: 400px;
  padding: 20px;
  display: block;
}

.header-banner h4 {
  font-size: 2.5rem;
  font-weight: 600;
}

.header-banner p {
  font-weight: 400;
}

// Testimonial Section

section.testimonial .content {
  height: 15rem;
}

// Corses Section

section.courses .pane-title p {
  width: 80%;
}

.carousel-cards {
  .carousel-inner {
    .carousel-item {
      &-end.active,
      &-next {
        transform: translateX(25%);
      }

      &-start.active,
      &-prev {
        transform: translateX(-25%);
      }

      &.active,
      &-next,
      &-prev,
      &-end {
        display: flex;
      }

      &-end,
      &-start {
        transform: translateX(0);
      }
    }
  }
}

.course-card {
  padding: 0.5rem;
}

.course-image img {
  width: 100%;
}

.course {
  &-title,
  &-teacher,
  &-price {
    display: block;
  }
}

.course-title {
  font-size: 1.1rem;
  font-weight: 500;
}
.course-teacher {
  color: rgba($color: #000000, $alpha: 0.5);
  font-size: 0.8rem;
}

.course-price{
  font-size: 1.1rem;
  font-weight: bold;
}

.course-price-discount{
  font-weight: normal;
  font-size: 1rem;
  color: rgba($color: #000000, $alpha: 0.5);
  text-decoration: line-through;
}

.course-rating{
  font-size: .8rem;
}

.course-rating-stars{
  color: goldenrod;
}

.course-bestseller{
  display: inline-block;
  background-color: #eceb98;
  font-size: .8rem;
  font-weight: 500;
  padding: .2rem .5rem;
}

// Categories Section
.catagories {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.category {
  display: grid;
  flex: 1;
  place-content: center;
  margin: 0.5rem;
  text-decoration: none;

}

.category-title {
  font-weight: 500;
  margin-top: 0.5rem;
  color: #000;
}

.category-img img{
  transition: transform 0.3s ease-in-out; 

}

.category-img img:hover {
  transform: scale(1.05);
}


// Footer Section
.footer-menu{
  display: flex;
  justify-content: space-between;
  padding: 2rem 1rem;

  ul{
    list-style: none;
    padding: 0;
    margin: 0;
    font-size: .9rem;

    a{
      text-decoration: none;
      color: #fff;
    }

    a:hover{
      color: lightgray;
    }
  }
}

.sub-footer{
  padding: 2rem;
  display: flex;
  justify-content: space-between;
}